@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.container-fluid {
  padding: 0;
}

.hero {
  height: 400px;
}

h1.headings {
  font-size: 35px;
  margin: 40px 0;
}

h1.headings::before {
  content: '';
  position: absolute;
  width: 100px;
  height: 3px;
  background-color: crimson;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  animation: animate 4s linear infinite;
}

.top-content {
  height: 60px;
  width: 90%;
  margin: 0 auto 20px auto;
  box-shadow: 3px 3px 5px lightgrey;
}

.shadow {
  box-shadow: 3px 3px 5px lightgrey;
}

h3.categories {
  height: 100%;
  line-height: 60px;
  padding: 0 50px;
  margin: 0;
}

label.filter {
  height: 100%;
  margin: 0 20px;
  line-height: 60px;
  font-size: 18px;
  color: gray;
  cursor: pointer;
  transition: color .5s;
}

label.filter:hover {
  color: black;
}

.wrapper{
  margin: 0px 20px 0 20px;
}

.wrapper .heading{
  width: 50%;
  padding-bottom: 50px;
}

.wrapper .heading h3{
  font-size: 3em;
  padding-bottom: 10px;
  border-bottom: 3px solid #222;
}

.wrapper .heading h3 span{
  font-weight: 100;
}

.wrapper .box .dream{
  width: 32.5%;
}

.wrapper .box .dream img{
  width: 100%;
  padding-bottom: 15px;
  border-radius: 5px;
}

.wrapper .button{
  margin: 40px 0 70px 0;
  background: #222;
  padding: 15px 40px ;
  border-radius: 5px;
}

.wrapper .button a{
 color: #fff;
 font-size: 1.2em;
 letter-spacing: 3px;
}

@media only screen and (max-width: 769px){
.wrapper .box .dream{
  width: 100%;
}
}

@media only screen and (max-width: 643px){
  .wrapper .heading{
  width: 100%;
}
  .wrapper .heading h3{
  font-size: 1em;
}
}

@keyframes animate {
  0% {
    width: 100px;
  }

  50%{
    width: 200px;
  }

  100%{
    width: 100px;
  }
}